{% extends 'base.html' %}

{% block title %}All Risks{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between">
    <h3>Risks</h3>
    <a class="btn btn-primary tb-sm" href="{% url 'add-risk' %}" role="button">Add a Risk</a>
</div>
<hr>
<table id="RiskTable" class="table table-responsive table hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Owner</th>
            <th scope="col">Likelihood</th>
            <th scope="col">Impact</th>
            <th scope="col">Status</th>
            <th scope="col">Added</th>
            <th scope="col">Reviewed</th>
        </tr>
    </thead>
    <tbody>
        {% for risk in risks %}
        <tr>
            <th scope="row">{{ risk.id }}</th>
            <td>{{ risk.title }}</td>
            <td>{{ risk.category }}</td>
            <td>{{ risk.owner }}</td>
            <td>{{ risk.likelihood }}</td>
            <td>{{ risk.impact }}</td>
            <td>{{ risk.status }}</td>
            <td>{{ risk.date_added }}</td>
            <td>{{ risk.review_date }}</td>
        </tr>  
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block script %}
<script>
    $(document).ready( function () {
        $('#RiskTable').DataTable();
    } );
</script>
{% endblock script %}